body {
  background-color: #f3f1ff;
}
.section-title {
  color: #562eff;
}
/* Navigation-Section */
.navigation {
  background-color: #562eff;
}
.logo {
  width: 40px;
  height: 50px;
}
.bars-icon {
  color: white;
  font-size: 28px;
}
/* Players-Section */
.player-image {
  width: 56px;
  height: 56px;
}
/* Blogs-Section */
.blog-author {
  color: #562eff;
}
.blog-image {
  width: 177px;
  height: 117px;
}
/* Courses-Section */
.filled {
  color: #ffc014;
}
.empty {
  color: #aeaeae;
}
.course-duration {
  color: #ff4a60;
  background-color: #ffe4e8;
}
